//
// Pipeline naming
//
manifest {
    name                        = 'rna-bfjt'
    mainScript                  = 'rna-bfjt.nf'
    version                     = '1'
}

//
// Plugins
//
plugins {
  id 'nf-validation'
}

//
// Set default registry for Docker and Singularity
//
docker.registry                 = 'quay.io'
singularity.registry            = 'quay.io'

//
// Set default profies for Docker and Singularity
//
profiles {
    docker {
        docker.enabled          = true
        singularity.enabled     = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        docker.enabled          = false
    }
}

//
// Default parameters
//
params {
    // NF-Validation
    validationSkipDuplicateCheck    = null
    validationS3PathCheck           = null
    
    // Maximum computing resources
    max_memory = '12.GB'
    max_cpus   = 6
    max_time   = '12.h'

    // Boilerplate options
    input                           = null
    outdir                          = null
    publish_dir_mode                = 'copy'

    // References
    genome                          = null
    splicesites                     = null
    save_reference                  = false
    igenomes_base                   = 's3://ngi-igenomes/igenomes/'

    // QC
    skip_fastqc                     = false

    // UMI handling
    with_umi                        = false
    skip_umi_extract                = false
    umitools_extract_method         = 'string'
    umitools_grouping_method        = 'directional'
    umitools_dedup_stats            = false
    umitools_bc_pattern             = null
    umitools_bc_pattern2            = null
    umitools_umi_separator          = null
    umi_discard_read                = null
    save_umi_intermeds              = false

    // Trimming
    trimmer                         = 'trimgalore'
    min_trimmed_reads               = 1000
    extra_trimgalore_args           = null
    save_trimmed                    = false
    skip_trimming                   = false

    // Alignment
    aligner                         = 'hisat2'
    seq_center                      = null
    hisat2_build_memory             = '12GB'
    save_unaligned                  = false
    save_align_intermeds            = false
    skip_markduplicates             = false

    // MultiQC options
    multiqc_config                  = null
    multiqc_logo                    = null
    multiqc_methods_description     = null
}

//
// Import configs
//
includeConfig 'conf/base.config'
includeConfig 'conf/publish.config'
includeConfig 'conf/genomes.config'