// Import configs
includeConfig 'conf/base.config'
includeConfig 'conf/publish.config'

// Used for pipeline naming
manifest {
    name = 'rna-bfjt'
    mainScript = 'rna-bfjt.nf'
}

// Set default registry for Docker and Singularity independent of -profile
docker.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Set default profies for Docker and Singularity
profiles {
    docker {
        docker.enabled          = true
        singularity.enabled     = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        docker.enabled          = false
    }
}