manifest.mainScript = 'rna-bfjt.nf'
includeConfig 'conf/base.config'
// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'
profiles {
docker {
    docker.enabled          = true
    conda.enabled           = false
    singularity.enabled     = false
    podman.enabled          = false
    shifter.enabled         = false
    charliecloud.enabled    = false
    apptainer.enabled       = false
    docker.runOptions       = '-u $(id -u):$(id -g)'
}
}