// Publishing directives
params.publish_dir_mode = 'copy'

process {
    // Default publishing logic for pipeline
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'NCBIGENOMEDOWNLOAD' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/ncbigenomedownload" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FASTQC' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'TRIMGALORE' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STAR_ALIGN' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/star_align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PICARD_MARKDUPLICATES' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/picard_markduplicates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}